In [2]:
import numpy as np
import pandas as pd

In [5]:
#시리즈를 이용한 데이터 생성

'''
s = pd.Series(seq_data)
Series - 클래스
'''

s1 = pd.Series([10,20,30,40,50])

In [8]:
s1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [12]:
index_date = ['2021-10-06', '2021-10-07', '2021-10-08', '2021-10-09']
s4 = pd.Series(index_date)
s4

0    2021-10-06
1    2021-10-07
2    2021-10-08
3    2021-10-09
dtype: object

In [7]:
'''
dict_data를 이용하여 생성 가능

'''

s5 = pd.Series({'국어':100, '영어':95,'수학':90})
s5

국어    100
영어     95
수학     90
dtype: int64

In [9]:
'''
실제 날자 자동 생성
date_range(start ,end, preiods, freq)

preiods - 숫자, 일수
freq  - 스텝. 주기

freq 옵션은 D(ay) B(업무일), W(eek), T(min) ,S(ec) 등등으로 다양
'''

pd.date_range(start='2019-01-01',end='2019-01-07')

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07'],
              dtype='datetime64[ns]', freq='D')

In [15]:
'''

DataFrame - 표와 같은 2차원 데이터 처리를 위한 형식
df = DataFrame(data[, index=index_data, columns=columns_data])

'''

df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])

df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [17]:
df = pd.DataFrame(np.arange(1,13).reshape(4,3), index=pd.date_range(start='2021-10-6', periods=4), columns=['A','B','C'])

df

             A   B   C
2021-10-06   1   2   3
2021-10-07   4   5   6
2021-10-08   7   8   9
2021-10-09  10  11  12

In [19]:
'''
시리즈를 컬럼으로 추가해서 데이터프레임 만들기
'''

s1 = pd.Series([2015,2016,2016,2017,2017])
s2 = pd.Series(['한국','한국','미국','한국','미국'])
s3 = pd.Series([200,250,450,300,500])

In [21]:
df2 = pd.DataFrame()

df2['연도'] = s1
df2['지사'] = s2
df2['고객 수']=s3

df2

     연도  지사  고객 수
0  2015  한국   200
1  2016  한국   250
2  2016  미국   450
3  2017  한국   300
4  2017  미국   500

In [23]:
df2.index

RangeIndex(start=0, stop=5, step=1)